/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* Here is one of many  CSS rules you will need... */

#one {
    border-style: solid;
    border-color: orange;
    border-width: 5px;
    background-color: #EAECEE;
    padding: 10px;
    margin: 20px;
    position: fixed;
    top: 10px;
    left: 10px;
    width: 25%;
}

#two {
    border-style: solid;
    border-color: green;
    border-width: 5px;
    background-color: #EAECEE;
    padding: 10px;
    margin: 20px;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 25%;
}

#three {
    border-style: solid;
    border-color: yellow;
    border-width: 5px;
    background-color: #EAECEE;
    padding: 10px;
    margin: 20px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 25%;
}

#four {
    border-style: solid;
    border-color: blue;
    border-width: 5px;
    background-color: #EAECEE;
    padding: 10px;
    margin: 20px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 25%;
}

#link {
    position: fixed;
    top: 10px;
    right: 50%;
    background-color: blue;
    font-weight: bold;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}